/* La tabla styles. */



body {
	font-family: 'Fira Sans', sans-serif;
	background-color: #EEECEB;
}

#main_content {
	padding:15px 30px;
}

table {
	border: #fff solid 1px;
	padding:1.3em;
}

table th,
table td {
	padding:1em;
}

table th {
	background-color: #C4DBDE;
}

#table_container {
	background-color: #F2F3F2;
	padding:9px;
}